*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #250057;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100vw;
    height: 100vh;
}
.input-box{
    background: #fff;
    width: 50%;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px 20px;
    /* margin: auto; */
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}
.input-box input{
    width: 100%;
    padding: 10px 0;
    /* border: 1px solid black; */
    outline: 0;
    font-size: 24px;
    color: #555;
}
.input-box img{
    width: 35px;
    cursor: pointer;
}
#text{
    text-align: left;
    font-size: 1.4rem;
    color: #fff;
    display: none;
}
#pass{
    padding: 0.5rem;
    border: 0;
    outline: 0;
    background-color: green;
    border-radius: 0.3rem;
    color: #fff;
    font-size: 1rem;
}